@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.nav-logo {
    height: 60px;
}

#navItem2 {
    color: black;
    font-family: "Roboto";
}

#navItem1 {
    color: black;
    font-family: "Roboto";
}

#navItem3 {
    color: black;
    font-family: "Roboto";
}

#navItem4 {
    color: black;
    font-family: "Roboto";
}

#navItem5 {
    color: black;
    font-family: "Roboto";
}

.service-title {
    font-weight: bold;
    font-family: "Roboto"
        font-size: 36px;
    color: #183b56;
}

.service-description {
    font-size: 24px;
    color: #616c7c;
    font-family: "Roboto";
}

.card-img {
    height: 100px;
    width: 100px;
}

.card-heading {
    font-size: 24px;
    color: #1f2933;
    font-family: "Roboto";

}

.card-description {
    font-size: 18px;
    color: #7b8794;
    font-family: "Roboto";
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.products-heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 36px;
    color: #183b56;
}

.products-background1 {
    height: 300px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
}

.products-background2 {
    height: 300px;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
}

.offers-text {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    color: #ff9f00;
    text-align: right;
}

.products-card-heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
}

.products-card-description {
    font-family: "Roboto";

    font-size: 18px;
    color: #ffffff;
}

.products-card-button {
    border-radius: 40px;
    height: 50px;
    width: 130px;
    color: #ff9f00;
    font-size: 18px;
    border: none;
    font-family: "roboto";
}

.products-modal-title {
    color: #323f4b;
    font-size: 28px;
    font-family: "roboto";
}

.product-modal-description {
    color: #323f4b;
    font-size: 14px;
    font-family: "roboto";
}

.product-modal-description-tag {
    color: #323f4b;
    font-weight: bold;
}

.slaes-background {
    background-image: linear-gradient(to right, #f49541, #dd5d97, #ad2167);


}

.special-offer-img {}

.special-offer-heading {
    font-family: "Bree";
    font-size: 32px;
    color: #ad2167;
    font-weight: bold;
}

.special-offer-description {
    font-family: "Roboto";

    color: #ffffff;
    font-size: 24px;
}

.cash-back {
    font-weight: bold;
    font-style: italic;
}

.trending-blogs-heading {
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto";
    color: #183b56;
}

.trending-blogs-card-item {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto";
    color: #959ead;
}

.trending-blogs-card-heading {
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto";
    color: #183b56;
}

.trending-blogs-description {
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto";
    color: #959ead;
}

.trending-blogs-read-more {
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto";
    color: #ff9f00;
}

.explore-deals-heading {
    font-weight: bold;
    font-size: 38px;
    color: #183b56;
    font-family: "Roboto";
}

.explore-deals-bg {
    background-color: #f5f7fa;
}

.explore-deals-card {
    background-color: #ffffff;
    border-radius: 16px;
}

.explore-deals-card-heading {
    font-weight: bold;
    font-size: 28px;
    color: #183b56;
    font-family: "Roboto";
}

.explore-deals-card-img {
    width: 90%;
    border-radius: 20px;
}

.explore-deals-card-img-name {
    font-size: 18px;
    color: #1f2933;
    font-family: "Roboto";
    text-align: center;
}

.explore-See-All-link {
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto";
    color: #ff9f00;
}

.contact-us-bg {
    background-color: #f5f7fa;
}

.contact-us-heading {
    font-size: 42px;
    font-weight: bold;
    font-family: "Roboto";
    color: #183b56;
}

.contact-us-button {
    border-width: 3px;
    border-style: solid;
    color: #ff9f00;
    border-color: #ff9f00;
    font-family: "Roboto";
    font-size: 24px;
    height: 60px;
    width: 200px;
    padding: 10px;
}

.footer-section-bg {
    background-color: #0d2436;
}

.social-media-icon {
    background-color: #152c3e;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    padding: 14px;
    border-radius: 50px;
    margin-top: 25px;
}

.icon {
    font-size: 24px;
    color: #5a7184;
}

.address {
    font-size: 18px;
    color: #9ea1a2;
    font-family: "Roboto";
}

.footer-title {
    font-size: 22px;
    color: #5a7184;
    font-weight: 700;
    font-family: "Roboto";
}

.footer-title-lists {
    font-size: 18px;
    color: #5a7184;
    margin-bottom: 4px;
    font-family: "Roboto";
}

hr {
    border-width: 1px;
    border-color: #5a7184;
}
